@model LuckySpin.ViewModels.LuckList
@{
    Layout = "_Layout";
}
<h1>All Your Luck, @Model.FirstName</h1>
<table>
    <thead><tr><th>Spin</th><th>Winner</th><th>Balance</th></tr></thead>
    <tbody>
        @foreach (LuckySpin.ViewModels.SpinBalance playerspin in Model.SpinBalances)
            {
            <tr>
                <td>@playerspin.Numbers[0], @playerspin.Numbers[1], @playerspin.Numbers[2]</td>
                <td>@playerspin.IsWinning</td>
                <td>@playerspin.Balance</td>
            </tr>
        }
    </tbody>
</table>